<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active pl-3">
        <img src="https://scontent.fcgh14-1.fna.fbcdn.net/v/t31.18172-8/23736301_1567313456680823_2712499096272798719_o.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGr1II2iLhXZiniB6JU1N7c6qvUrx2ZNerqq9SvHZk16g1X26TosCNA50bCAjyDS9vyY_E2pAdXO7dXMMUZgO6w&_nc_ohc=07nzAUInEe4AX_IAJ36&_nc_ht=scontent.fcgh14-1.fna&oh=00_AT9EgVopRib0tdljWcN_w2DgG-3O7SVkxzZWs2uX33_DIQ&oe=62EBACBD" 
        alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
      </li>
      <a href="">
        <li class="nav-item pl-3">
          <p class="text-white fs-16 m-0">
            <i class="fa fa-pencil-square-o "></i>
          </p>
        </li>
      </a>     
    </ul>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pr-3">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"></i></a>
      </li> 
    </ul>

  </div>
</nav>
