#img-bg{
    background-image: url("https://i.imgur.com/W6Y6IP5.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mr-4{
    margin-right: 4mm;
}