#img-bg{
    background-image: url("https://i.imgur.com/FVwFi3n.png");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mr-4{
    margin-right: 4mm;
}
.bg-color{
    background: #20b2aa;
}