.bg-color{
    background: #20b2aa;
}
.text-color{
    color: #20b2aa
}

.font-weight-bold{
    font-weight: bold;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.mr-2{
    margin-right: 2mm;
}